html {
    background-color: #AAC8A7;
  }
  
  h1 {
    font-family: Georgia;
    text-align: center;
    color: #618264;
  }
  
  h6 {
    font-family: Georgia;
    text-align: center;
    color: #fff;
    background-color: #618264;
    padding: 10px;
    border-radius: 10px;
  }
  
  .calculator {
      width: 300px;
      margin: 0 auto;
      padding: 20px;
      border: 2px solid #618264;
      border-radius: 10px;
      box-shadow: 10px 10px #618264;
      background-color: #f5f5f5;
  }
  
  .display {
      margin-bottom: 10px;
  }
  
  input[type="text"] {
      width: 90%;
      padding: 15px;
      font-size: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
  }
  
  .buttons {
    padding-top: 10px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
  }
  
  button {
      padding: 10px;
      font-size: 20px;
      border: 1px solid #618264;
      border-radius: 5px;
      background-color: #618264;
      color: #fff;
      cursor: pointer;
      outline: none;
  }
  
  button:hover {
      background-color: #555;
  }
  
  .double-height {
      grid-row: span 2;
  }
  
  .double-width {
     grid-column: span 2;
  }
  
  .deco {
    grid-column: span 2;
    color: #618264;
    background-color: #f5f5f5;
    border: #f5f5f5;
  }
  
  .deco:hover {
    background-color: #f5f5f5;
  }
  
  h2 {
    color:#fff;
    text-align: center;
  }